/ {
	aliases {

		eeprom-0 = &eeprom0;
	};
};


&i2c1 { 
	status = "okay";

	clock-frequency = <I2C_BITRATE_FAST>;


	eeprom0: eeprom@50 {
		compatible = "atmel,at24";

		reg = <0x50>; 
		size = <256>;     
		pagesize = <8>;   
		address-width = <8>;
		timeout = <5>; 
	};
};